statsmodels==0.5.0
PyYAML>=3
traits>=4.4
traitsui>=4.4
envisage
chaco>=4.4
enable>=4.4
pyface>=4.4
uncertainties
PyMySQL
Reportlab
lxml
xlrd
xlwt
jinja2

#uncertainties
#xlrd==0.7.1
#xlwt==0.7.2
#GitPython>=0.3.2.RC1
#PyMySQL
#Reportlab
#lxml
#paramiko
