Genshi>=0.6
GitPython>=0.3.2.RC1
Jinja2>=2.6
PIL>=1.1.7
PyMySQL>=0.5
PyOpenGL>=3.0.1
PyWebDAV>=0.9.8
PyYAML>=3.10
Pydap>=3.1.RC1
Pygments>=1.4
Reportlab>=2.5
SQLAlchemy>=0.7.1
SquareMap>=1.0.1
Twisted>=11.1.0
alembic>=0.6.2
appinst>=2.1.0
apptools>=4.0.1
arrayterator>=1.0.1
async>=0.6.1
bitarray>=0.3.5
bsdiff4>=1.0.1
chaco>=4.1.0
codetools>=4.0.0
configobj>=4.7.2
coverage>=3.5.1
decorator>=3.3.2
distribute>=0.6.28
docutils>=0.8.1
enable>=4.1.0
enstaller>=4.4.1
envisage>=4.1.0
epydoc>=3.0.1
ets>=4.1.0
etsdevtools>=4.0.0
etsproxy>=0.1.1
foolscap>=0.6.2
freetype>=2.4.4
fwrap>=0.1.1
grin>=1.2.1
h5py>=2.0.0
hdf5>=1.8.5.1
html5lib>=0.90
httplib2>=0.7.5
libjpeg>=7.0
libpng>=1.2.40
libxml2>=2.7.3
libxslt>=1.1.24
logilab-astng>=0.23.1
logilab-common>=0.57.1
lxml>=2.3.2
matplotlib>=1.1.0
netCDF4>=0.9.5
networkx>=1.6
nose>=1.3.0
numexpr>=2.0
numpy>=1.6.1
pandas>=0.4.3
paramiko>=1.7.7.1
pep8>=0.6.1
ply>=3.4
profilehooks>=1.6
pudb>=2012.2.1
pyOpenSSL>=0.12
pyaudio>=0.2.4
pycrypto>=2.4.1
pydap.handlers.hdf5>=0.1.6
pydap.handlers.sqlite>=0.1.0
pydot>=1.0.25
pyface>=4.1.0
pyflakes>=0.5.0
pygarrayimage>=0.0.7
pyhdf>=0.8.3
pylint>=0.25.1
pyparsing>=2.0.1
pyproj>=1.8.9
pyserial>=2.6
pytables>=2.3.1
python-dateutil>=1.5
pytz>=2011n
pyzmq>=2.1.11
rst2pdf>=0.91
scikit-learn>=0.12.1
scikits-image>=0.6.1
scikits.image>=0.4.2
scikits.statsmodels>=0.3.1
scikits.timeseries>=0.91.3
scimath>=4.0.1
scipy>=0.10.0
simplejson>=2.6.1
smmap>=0.8.2
statsmodels>=0.4.3
svgwrite>=1.1.2
swig>=1.3.40
traits>=4.1.0
traitsui>=4.1.0
uncertainties>=2.1
virtualenv>=1.7.1.2
xlrd>=0.7.1
xlwt>=0.7.2
