<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>New Mexico Geochronology Research Laboratory</h3>
                <h1>Pychron</h1>
                <h5>Data acquisition and processing software for Ar/Ar geochronology and noble gas mass
                    spectrometry</h5>
            </div>
            <!--
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->