add
delete
database_save
file_pdf
table_lightning
file_xls
cog
tick
cancel
user_suit
bug
documentation
database
openterm
update_misc
prism
labspy
laser
extraction_line
caterpillar
scripts_text
dashboard
arrow_in
arrow_out
arrow_up
arrow_down
find
database_add
database_delete
histogram
application_view_list
clear
split_vertical
page_white_add
annotate
page_white_database
chart_curve
refresh
chart_curve_go
table_save
database_edit
database_go
chart_curve_add
edit_diff
file_csv
arrow_switch
report
report_add
script_go
