add
delete
cog
clear
database_connect
database_add
database_delete
database_edit
database_save
file_pdf
table_lightning
file_xls
tick
cancel
user_suit
bug
documentation
database
openterm
update_misc
prism
labspy
laser
extraction_line
caterpillar
scripts_text
dashboard
disk
table_edit
table_add
stop
arrow_in
arrow_out
arrow_refresh
edit_diff
arrow_up
arrow_down
calendar
lightning
camera
foo
arrow_right
arrow_turn_right
refresh
find
histogram
application_view_list
split_vertical
filter
page_white_add
calendar.png
annotate
page_white_database
chart_curve
chart_curve_go
table_save
database_go
chart_curve_add
file_csv
arrow_switch
report
report_add
script_go
arrow_left
apply
flag
