qt=4.8.5
statsmodels=0.6.1
scikit-learn
PyYAML
yaml
traits
traitsui
chaco
enable
envisage
sqlalchemy=1.0.5
Reportlab
lxml
xlrd
xlwt
xlsxwriter
pip
PyMySQL=0.6.6
requests
keyring
pil
python.app
pytables
jinja2
psutil
pygments