---
---
<body style="background-color: lightblue">
<head>
    <link rel="stylesheet" href="{{site:url}}/assets/css/blog.css">
</head>

<article style="background-color: lightsteelblue">
        <header style="background-color: cornflowerblue">
            <table>
                <tr>
                    <td><img src="{{site:url}}/assets/images/RossLabs_logo.png" width="100%"></td>
                    <td width="50%"><h1 align="middle">Pychron Blog</h1></td>
                    <td><img src="{{site:url}}/assets/images/NMGRL_logo.png" width="45%"></td>
                </tr>
            </table>
            <!--<h2>{{ page.title }}</h2>-->
            <!--<span><i class="icon-clock"></i><time datetime="{{page.date|date:'%F'}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>-->
            <!--<span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>-->
            <!--<span class="author"><i class="icon-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>-->
        </header>
        <div class="container">
        <div id="sidebar">
            <ul>
              {% for post in site.posts %}
                <li>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
        <div id="content">
            <div id="title">
                <h2>{{page.title}}</h2>
                <span><i class="icon-clock"></i><time datetime="{{page.date|date:'%F'}}">{{page.date|date:"%b %d, %Y"}}</time></span>
                <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span>
                <span class="author">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
            </div>
            <div class="entry">{{ content }}</div>

        <footer><!-- additional info --></footer>

</article>
</div>
</div>
</body>
